* {
    -webkit-user-select: none;
    -webkit-user-drag: none;
    cursor: default;
}

:root {
    color-scheme: light dark;
}

html {
    height: 100%;
}

body {
    margin: 0;
    padding: 1em 2em 0;
    background-color: transparent;
    font: -apple-system-short-body;
    color: -apple-system-label;
    text-align: left;
    
    display: flex;
    flex-direction: column;
    align-items: center;
}

.row {
    display: flex;
    flex-direction: row;
}

body:not(.state-on, .state-off) :is(.state-on, .state-off) {
    display: none;
}

body.state-on :is(.state-off, .state-unknown) {
    display: none;
}

body.state-off :is(.state-on, .state-unknown) {
    display: none;
}

img {
    margin-right: 1em;
}

p {
    margin: 0 0 0.5em 0;
}

p:first-child {
    margin-top: 0.5em;
    margin-bottom: 1em;
}

button {
    font-size: 1em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5em;
}
